**/node_modules
**/.idea
.cache
.config
.fontconfig
.local
.mc
.ssh
.subversion
.bash_history
*.apk
.vscode
__pycache__
push/node_modules
push/rbt-linhome-firebase-adminsdk-xx5ca-2d08c1fea5.json
push/rbt-linhome-firebase-adminsdk-xx5ca-eaf577790b.json
push/package-lock.json
push/package.json
